<strong>Recuperando senha</strong>

<p>Uma solicitação de recuperação de senha foi realizada para o email ({{ email }}).
Se você não foi o autor desta requisição, seria legal trocar a senha para garantir.
</p>

<p>Para continuar com a recuperação de senha, utilise o token {{ token }}
ou clique no link a baixo:
</p>

<a href="{{ link }}"> Criar nova senha
